<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dbal.app.memberManage.mapper.BlackListDAO">
	  
<!-- 전체조회 -->    
<select id="selectAllList" parameterType="blacklist" resultType="blacklist">
SELECT 
			B.BLACKLIST_NO, 
			B.MEMBER_NO, 
			M.NICKNAME, 
			B.BLACKLIST_REASON, 
			B.LIMIT_DATE,
      C.CODE_VALUE
FROM BLACKLIST B, MEMBER M, COMMON C 
WHERE B.MEMBER_NO = M.MEMBER_NO
AND B.BLACKLIST_REASON = C.CODE
and m.member_id is not null
ORDER BY BLACK_NO
	</select>
	
<!--  한 건 조회 -->
<select id="selectOne"  parameterType="blacklist" resultType="blacklist">
SELECT 
			B.BLACKLIST_NO, 
			B.MEMBER_NO, 
			M.NICKNAME, 
			B.BLACKLIST_REASON, 
			B.LIMIT_DATE,
      C.CODE_VALUE
FROM BLACKLIST B, MEMBER M, COMMON C 
WHERE B.MEMBER_NO = M.MEMBER_NO
AND B.BLACKLIST_REASON = C.CODE
AND B.BLACKLIST_NO = #{blacklist_no}		
</select>
	
<!-- 삭제 -->
<delete id="delete">
delete from BLACKLIST
where BLACKLIST_NO = #{blacklist_no}

</delete>

<!-- 업데이트  -->
<update id="update">
update blacklist set
member_no = #{member_no},
BLACKLIST_REASON = #{blacklist_reason},
limit_date = #{limit_date}
where blacklist_no = #{blacklist_no}
</update>

</mapper>
