<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dbal.app.memberManage.mapper.BlackListDAO">
	  
<!-- 전체조회 -->    
<select id="selectAllList" parameterType="blacklist" resultType="blacklist">
SELECT 
			B.BLACKLIST_NO, 
			B.MEMBER_NO, 
			M.NICKNAME, 
			B.BLACKLIST_REASON, 
			B.LIMIT_DATE 
FROM BLACKLIST B, MEMBER M 
WHERE B.MEMBER_NO = M.MEMBER_NO
	</select>
	
<!--  한 건 조회 -->
<select id="selectOne"  parameterType="blacklist" resultType="blacklist">
SELECT 	
			BLACKLIST_NO,
			BLACKLIST_REASON,
			MEMBER_NO,
			LIMIT_DATE
FROM BLACKLIST
WHERE BLACKLIST_NO = #{blacklist_no}		
</select>
	
<!-- 삭제 -->
<delete id="delete">
delete from BLACKLIST
where BLACKLIST_NO = #{blacklist_no}

</delete>

</mapper>
