<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dbal.app.books.mapper.BooksDAO">
	<select id="selectAll" parameterType="books" resultType="books">
			SELECT
				b.book_no,
				b.title,
				b.writer,
				b.publication_date,
				b.best_book,
				b.registration_date,
				c.code_value,
				p.company_name
			FROM
				books b, common c, company p
			WHERE
				b.genre = c.code
			AND
				b.company_code = p.company_code
	</select>
	
	<select id="bookselectCompany" parameterType="books" resultType="books">
  		SELECT company_name
  		FROM company
  		WHERE  company_name LIKE '%'||#{company_name}||'%'
	</select>

	<select id="selectOne" parameterType="books" resultType="books">
		SELECT
			book_no,
			title,
			book_img,
			writer,
			publication_date,
			company_code,
			introduction,
			summary,
			best_book,
			genre,
			registration_date
		FROM
			books
		WHERE
			book_no = #{book_no}
	</select>

	<delete id="delete" parameterType="books">
		DELETE
			books
		WHERE
			book_no = #{book_no}
	</delete>

	<update id="update" parameterType="books">
		UPDATE
			books
		SET
			title = #{title},
			book_img = #{book_img},
			writer = #{writer},
			publication_date = #{publication_date},
			company_code = #{company_code},
			introduction = #{introduction},
			summary = #{summary},
			best_book = #{best_book},
			genre = #{genre},
			registration_date = sysdate
		WHERE
			book_no = #{book_no}
	</update>




	<update id="updateBookNo">
		UPDATE
			seq set no = no + 1
		WHERE
			tablename = 'books'
	</update>
	
	<insert id="insert" parameterType="books">
		<selectKey keyProperty="book_no" resultType="string" order="BEFORE">
			SELECT NO
			FROM SEQ
			WHERE TABLENAME='books'
		</selectKey>
		INSERT INTO BOOKS(book_no,
							title,
							book_img,
							writer,
							publication_date,
							epub_path,
							company_code,
							introduction,
							summary,
							genre,
							best_book,
							registration_date)
		VALUES(#{book_no},
				#{title},
				#{book_img},
				#{writer},
				#{publication_date},
				#{epub_path},
				#{company_code},
				#{introduction},
				#{summary},
				#{genre},
				#{best_book},
				SYSDATE)
	</insert>
	
	<insert id="insertAudio" parameterType="books">
		<selectKey keyProperty="book_no" resultType="string" order="BEFORE">
			SELECT NO
			FROM SEQ
			WHERE TABLENAME='books'
		</selectKey>
		INSERT INTO BOOKS(book_no,
							title,
							book_img,
							writer,
							publication_date,
							audio_path,
							company_code,
							introduction,
							summary,
							genre,
							best_book,
							registration_date)
		VALUES(#{book_no},
				#{title},
				#{book_img},
				#{writer},
				#{publication_date},
				#{audio_path},
				#{company_code},
				#{introduction},
				#{summary},
				#{genre},
				#{best_book},
				SYSDATE)
	</insert>
	
	
	

	<update id="updatePurNo">
		UPDATE
		seq set no = no + 1
		WHERE
		tablename = 'purchase'
	</update>
	<insert id="insertpur" parameterType="books">
		<selectKey keyProperty="purchase_no" resultType="string" order="BEFORE">
			SELECT NO
			FROM SEQ
			WHERE TABLENAME='purchase'
		</selectKey>
		INSERT INTO PURCHASE
		VALUES (#{purchase_no},
				#{purchase_price},
				#{purchase_date},
				#{purchase_content},
				#{emp_no},
				#{book_no})
	</insert>

</mapper>