<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dbal.app.empManage.mapper.EmpDAO">

	<!-- 전체조회 -->
	<select id="selectAll" parameterType="employees"
		resultType="employees">
		SELECT
		emp_no,
		emp_id,
		emp_pw,
		emp_name,
		emp_birth,
		entereddate,
		dept_code,
		emp_address,
		rank_code
		FROM employees

	</select>

	<!-- 로그인 체크 -->
	<select id="loginCk" parameterType="employees"
		resultType="employees">
		SELECT
		emp_no,
		emp_id,
		emp_pw,
		emp_name,
		emp_birth,
		entereddate,
		dept_code,
		emp_address,
		rank_code
		FROM employees
		WHERE emp_id = #{emp_id}
	</select>
	<!-- 한 건 조회 -->
	<select id="selectOne" parameterType="employees"
		resultType="employees">
		SELECT
		emp_no,
		emp_id,
		emp_pw,
		emp_name,
		emp_birth,
		entereddate,
		dept_code,
		emp_address,
		rank_code
		FROM employees
		WHERE emp_no = #{emp_no}

	</select>
	
	<!-- 사원 등록 -->
	<update id="updateNo">
		update seq set no = no + 1 where tablename =
		'employees'
	</update>

	<insert id="Insert" parameterType="employees">
		<selectKey keyProperty="emp_no" resultType="string"
			order="BEFORE">
			SELECT NO
			FROM SEQ
			WHERE TABLENAME='employees'
		</selectKey>
		INSERT INTO EMPLOYEES
				(EMP_NO,
				EMP_ID,
				EMP_PW,
				EMP_NAME,
				EMP_BIRTH,
				ENTEREDDATE,
				DEPT_CODE,
				EMP_ADDRESS,
				RANK_CODE )

		VALUES (
				#{emp_no},
				#{emp_id},
				#{emp_pw},
				#{emp_name},
				#{emp_birth},
				#{entereddate},
				#{dept_code},
				#{emp_address},
				#{rank_code})

	</insert>



</mapper>
