<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dbal.app.memberManage.mapper.HopebooksListDAO">
	<select id="selectAll" parameterType="hopebooks" resultType="hopebooks">
		SELECT
			title,
			writer,
			company
		FROM
			hopebooks
		ORDER BY 1
	</select>
</mapper>