<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dbal.app.memberManage.mapper.HopeooksListDAO">
	<select id="selectAll" parameterType="books" resultType="books">
		SELECT
			b.book_no,
			b.title,
			b.writer,
			b.publication_date,
			b.best_book,
			b.registration_date,
			c.code_value,
			p.company_name
		FROM
			books b, common c, company p
		WHERE
			b.genre = c.code
		AND
			b.company_code = p.company_code
	</select>
</mapper>