<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dbal.app.memberManage.mapper.MemberManageDAO">

	<!-- 전체조회 -->
	<select id="selectAll" parameterType="membermanage"
		resultType="membermanage">
		SELECT
		MEMBER_NO,
		MEMBER_ID,
		MEMBER_PW,
		NICKNAME,
		MEMBER_TEL,
		MEMBER_EMAIL,
		SIGNUP_DATE,
		LAST_ACCESS_DATE,
		GENDER
		FROM MEMBER
		WHERE MEMBER_ID IS NOT NULL
	</select>

<!-- 한 건 조회 -->
	<select id="selectOne" parameterType="membermanage"
		resultType="membermanage">
		SELECT
		MEMBER_NO,
		MEMBER_ID,
		MEMBER_PW,
		NICKNAME,
		MEMBER_TEL,
		MEMBER_EMAIL,
		SIGNUP_DATE,
		LAST_ACCESS_DATE,
		GENDER
		FROM MEMBER
		WHERE MEMBER_NO = #{member_no}
	</select>
	<!-- 수정 -->
	<update id="update" parameterType="membermanage">
		UPDATE
		MEMBER SET
		MEMBER_PW = #{member_pw},
		NICKNAME = #{nickname},
		MEMBER_EMAIL = #{member_email},
		MEMBER_TEL = #{member_tel}
		WHERE MEMBER_ID = #{member_id}
	</update>
<!-- 삭제 -->
<delete id="delete">

update member set member_id = null, 
					member_pw = null, 
					nickname = null, 
					member_tel = null,
					member_email = null, 
					signup_date = null, 
					last_access_date = null, 
					gender = null
where member_no = #{member_no}
</delete>

</mapper>
