@charset "UTF-8";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wrapper-slider {
    position: relative;
    width: 90%;
    margin: 100px auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.wrapper-slider .arrow-left,
.wrapper-slider .arrow-right {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    height: 50px;
    width: 50px;
    z-index: 999;
    border-radius: 300%;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    left: -25px;
    background: url(https://s11.posting.org/eqnz7iwkz/arrow_left.png) no-repeat center center;
    background-color: #FFF;
}
.wrapper-slider .arrow-right {
    right: -25px;
    left: auto;
    background-image: url(https://s11.posting.org/sydnw699v/arrow_right.png);
}
.wrapper-slider .arrow-left:hover,
.wrapper-slider .arrow-right:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    background-color: #f1f1f1;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.items {
    width: 100%;
    background-color: #FFF;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}
.items .item {
    background-color: #215772;
    color:#FFF;
    width: 200px;
    height: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 50px;
    -webkit-transform: scale(0.98);
    transform: scale(0.97);
}
.items.active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
    background-color: #f9f9f9;
}
.items.active .item {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.wrapper-slider .arrow-left,
.wrapper-slider .arrow-right,
.items,
.items .item {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}